@import 'normalize';

$body: 16px;
$base: 24px;

$body-white: #cdcec8;
$bg: #272822;
$yellow: #e6db74;
$chat-bg: #eaeaea;
$purple: #dd2668;
$dark-bg: #1e1f1a;
$green: #a5d600;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


//Remove bounce
// html {
//     overflow: hidden;
//     height: 100%;
//     font-size: 16px;
// }

// body {
//     height: 100%;
//     overflow: auto;
// }





.container-site {
  display: block; 
  font-family: 'Menlo';
  font-weight: 400;
}

@media (min-width: 600px) {
  .container-site {
    display: flex;
  }
}


.left {
  background: $bg;
  color: $body-white;
}

@media (min-width: 600px) {
  .left {
    width: 50%;  
  }
}

@media (min-width: 1000px) {
  .left {
    width: 60%;  
  }
}

.right {

  background: $chat-bg !important;
}

@media (min-width: 600px) {
  .right {
    position: fixed;
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .right {
    width: 40%;
  }
}

@media (min-width: 600px) {
  .hero-content {
    margin-top: 25vh;
  }

}





.left-content {
  max-width: 700px;
  padding-right: 20px;
  padding-left: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.logo {
  max-width: 130px;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.headline {
  color: $yellow;
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: -0.5px;
}

.tagline {
  font-size: 16px;
  line-height: 24px;
  color: $body-white;
  &:after {
    content: "at the very bottom of this page. ↓  ";  
  }
}

h2 {
  font-size: 18px;
  color: rgba(255,255,255,0.5);
}


@media (min-width: 600px) {
  .logo {
    max-width: 200px;
  }
  .headline {
    font-size: 33px;
    line-height: 42px;
  }
  .tagline {
    font-size: 18px;
    line-height: 29px;
    &:after {
      content: "right now -------->";  
    }
  }
  #faq {
    margin-top: 100px;
  }

  .faq-section {
    margin-top: 400px;
  }
}

#faq {
  margin-top: 100px;
}

.faq-section {
  margin-top: 250px;
  background: $dark-bg;
  padding-top: 50px;
  padding-bottom: 100px;
}

.footer {
  margin-top: 100px;
  font-size: 12px;
  color: rgba(255,255,255,0.25);
  a {
    color: rgba(255,255,255,0.25);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

//Olark

#habla_both_div {
  // display: none !important;
  height: 50px;
  text-transform: uppercase;
  color: rgba(0,0,0,0.5);
  font-weight: 600;
  line-height: 50px;
  background: rgba(0,0,0,0.075);
  text-align: center;
}

#hbl_body_message {
  color: $purple;
}

#habla_window_div {
  margin: 0 !important;
}

#habla_conversation_div {
  padding-top: 35vh !important;
  width: 100% !important;
  height: 90% !important;
  background: $chat-bg;
  padding: 6%;
}

#habla_conversation_person2 {
  color: red !important;
}


#habla_chatform_form {
  border: 1px solid rgba(0,0,0,0.20);

  height: 8vh !important;
  
  font-size: 18px;
  
}

#habla_wcsend_input {
  // padding-top: 2vh;
  border: none;
  width: 100%;
  height: 8vh !important;
  
  // line-height: 70px !important;
  padding-left: 3%;
  padding-top: 3%;
  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
}

.habla_conversation_person2 {
  color: $purple !important;
}


// // CSS Animations
// #hbl_body_message {
//     // margin-top: 25px;
//     // font-size: 21px;
//     // text-align: center;

//     -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
//        -moz-animation: fadein 2s; /* Firefox < 16 */
//         -ms-animation: fadein 2s; /* Internet Explorer */
//          -o-animation: fadein 2s; /* Opera < 12.1 */
//             animation: fadein 2s;

// }

// @keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 1; }
//     -webkit-animation-delay: 5s;
//             -animation-delay: 5s;
// }

// /* Firefox < 16 */
// @-moz-keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 1; }
// }

// /* Safari, Chrome and Opera > 12.1 */
// @-webkit-keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 1; }
//     -webkit-animation-delay: 5s;
//             -animation-delay: 5s;
// }

// /* Internet Explorer */
// @-ms-keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 1; }
// }

// /* Opera < 12.1 */
// @-o-keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 1; }
// }