@import 'normalize';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic);

$body: 16px;
$base: 24px;

$body-white: rgba(255,255,255,0.50);
$bg: #323654;
$yellow: #409bd6;
$chat-bg: #f3f5fa;
$purple: #dd2668;
$dark-bg: #23263b;
$green: #a5d600;

$tablet: 700px;
$desktop: 1000px;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


//Remove bounce
// html {
//     overflow: hidden;
//     height: 100%;
//     font-size: 16px;
// }

// body {
//     height: 100%;
//     overflow: auto;
// }





.container-site {
  display: block; 
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@media (min-width: $tablet) {
  .container-site {
    display: flex;
  }
}


.left {
  background: $bg;
  color: $body-white;
}

@media (min-width: $tablet) {
  .left {
    width: 50%;  
  }
}

@media (min-width: 1000px) {
  .left {
    width: 60%;  
  }
}

.right {
  height: 100%;
  background: $chat-bg !important;
}

@media (min-width: $tablet) {
  .right {
    position: fixed;
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .right {
    width: 40%;
  }
}

.hero-content {
  height: 30vh;
  margin-top: 15vh;
}

@media (min-width: $tablet) {
  .hero-content {
    height: 35vh;
    margin-top: 17vh;
    // margin-bottom: 30vh;
  }
}

@media (min-width: $desktop) {
  .hero-content {
    height: 40vh;
    margin-top: 20vh;
    // margin-bottom: 30vh;
  }
}





.left-content {
  max-width: 700px;
  padding-right: 20px;
  padding-left: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.logo {
  height: 38px;
  width: 158px;
}

#becomeexpert {
  color: rgba(white,0.8);
  text-decoration: none;
  border: 1px solid rgba(255,255,255,0.35);
  font-size: 13px;  
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 100px;
  line-height: 16px;
  width: 160px;
  height: 30px;
  &:hover {
    border: 1px solid rgba(255,255,255,0.4);
    color: $yellow;
  }
}

.headline {
  color: $yellow;
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: -0.5px;
}

.tagline {
  font-size: 16px;
  line-height: 24px;
  color: $body-white;

}

#second-tagline:after {
  content: "Try it out in the chat at the bottom. ↓";  
}

h2 {
  font-size: 18px;
  color: rgba(255,255,255,0.5);
}


@media (min-width: 600px) {
  .headline {
    font-size: 33px;
    line-height: 42px;
  }
  .tagline {
    font-size: 18px;
    line-height: 29px;
  }
  #second-tagline:after {
      content: "Try it out in the chat →";  
  }
  #faq {
    margin-top: 100px;
  }

  .faq-section {
    
  }
}

#faq {
  margin-top: 100px;
}

.faq-section {
  margin-top: 100px;
  background: $dark-bg;
  padding-top: 50px;
  padding-bottom: 100px;
}

.footer {
  margin-top: 100px;
  font-size: 12px;
  color: rgba(255,255,255,0.25);
  a {
    color: rgba(255,255,255,0.25);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.link {
  color: $yellow;
}


//Olark

#hbl_body_message, .habla_conversation_person2 {
  color: $purple;
}

#habla_conversation_div {
  // height: 90vh !important;
  height: auto !important;
  padding-top: 10%;

  background: $chat-bg;
}

#habla_beta_container_do_not_rely_on_div_classes_or_names {
  background: $chat-bg;
  // height: 100% !important;
  height: 100vh !important;
}

#habla_topbar_div {
  background: rgba(black,0.1);
  height: 50px;
  text-align: center;
  line-height: 50px;
}

#habla_chatform_form {

  height: 100% !important;
  textarea, #habla_input_div {
    width: 100%;
    height: 100% !important;
  }
}

#habla_middle_div {
  height: 100vh;
}

#habla_middle_wrapper_div {
  height: calc( 100% - 100px );
  padding-left: 20px;
  overflow: scroll !important;
} 

#habla_wcsend_input {
  border: none;
  border-top: 1px solid rgba(0,0,0,0.25);
}

#habla_window_div {
  margin: 0 !important;
}

// #habla_expanded_div {
//   height: 100vh !important;
// }

// #habla_window_div, #habla_panel_div {
//   height: 100vh !important;
// }

//Olark

// #habla_beta_container_do_not_rely_on_div_classes_or_names {
//   background: rgba(red,0.2) !important;
//   // height: 100% !important;
//   height: 100% !important;
// }

// // #habla_conversation_div, #hbl_operator_state_div, #hbl_region, #habla_window_state_div, #habla_window_div, #habla_panel_div, #habla_expanded_div, #habla_middle_div {
// //  height: 100% !important;  
// // }



// #habla_both_div {
//   // display: none !important;
//   // height: 50px;
//   text-transform: uppercase;
//   color: rgba(0,0,0,0.5);
//   font-weight: 600;
//   line-height: 50px;
//   background: rgba(0,0,0,0.075);
//   text-align: center;
// }

// #hbl_body_message {
//   color: $purple;
// }

// #habla_window_div {
//   margin: 0 !important;
// }

// #habla_conversation_div {
//   // padding-top: 35vh !important;
//   width: 100% !important;
//   // height: 100% !important;
//   background: $chat-bg;
//   padding: 6%;

// }

// #habla_conversation_person2 {
//   color: red !important;
// }


// #habla_chatform_form {
//   border: 1px solid rgba(0,0,0,0.20);

//   // height: 8vh !important;
  
//   font-size: 18px;
  
// }

// #habla_wcsend_input {
//   // padding-top: 2vh;
//   border: none;
//   width: 100%;
//   // height: 8vh !important;
  
//   // line-height: 70px !important;
//   padding-left: 3%;
//   padding-top: 3%;
//   &:focus {
//     outline: none;
//   }
// }

// textarea {
//   resize: none;
// }

// .habla_conversation_person2 {
//   color: $purple !important;
// }


// // CSS Animations
// #hbl_body_message {
//     // margin-top: 25px;
//     // font-size: 21px;
//     // text-align: center;

//     -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
//        -moz-animation: fadein 2s; /* Firefox < 16 */
//         -ms-animation: fadein 2s; /* Internet Explorer */
//          -o-animation: fadein 2s; /* Opera < 12.1 */
//             animation: fadein 2s;

// }

// @keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 1; }
//     -webkit-animation-delay: 5s;
//             -animation-delay: 5s;
// }

// /* Firefox < 16 */
// @-moz-keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 1; }
// }

// /* Safari, Chrome and Opera > 12.1 */
// @-webkit-keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 1; }
//     -webkit-animation-delay: 5s;
//             -animation-delay: 5s;
// }

// /* Internet Explorer */
// @-ms-keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 1; }
// }

// /* Opera < 12.1 */
// @-o-keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 1; }
// }